.cardlist-container {
  overflow-x: auto;
  margin: 2.5em 2em 1em 2em;
}

table {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  border-collapse: collapse;
  background-color: #f8f8f8;
  border: 1px solid black;
  text-align: left;
  border-radius: 7px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  
}

td, th {
  
  padding: 20px 70px 20px 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid black;
  
}

.tabBut {
  border: none;
  background-color: transparent;
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}



