.table {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  overflow: hidden;
  text-align: left;
  border: 1px solid ;
  
  
}

td, th {
  
  padding: 10px 70px 10px 10px;
}

td {
  background-color: #f8f8f8;
}


th {
  background-color: #383838;
  color: #ffff;

}

tr:nth-of-type(odd) td{
  background-color: lighten(#f8f8f8, 50%);
}